*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;  
  text-decoration: none;
}
body{
  background-color:#303335;  
  color: #fff;
}

.container{
    position: absolute;
    top: 0%;
    left: 0%;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.menu{
    background: #7f8c8d;
    width: 300px;
    
}

.item{
    border-top: 1px solid #2c3e50;
    overflow: hidden;
}
.btn{
    color: #fff;
    display: block;
    padding: 16px 20px;
    background: #34495e;
    position: relative;
}

.btn::before{
    content: '';
    position: absolute;
    background: #34495e;
    width: 14px;
    height: 14px;
    bottom: -7px;
    transform: rotate(45deg);
}
.btn i {
    margin-top: 14px;
    
}

.sub-menu{
     background: #353b48;
     overflow: hidden;
     transition: 0.3s;
     max-height: 0;
     
 }

.sub-menu a {
    display: block;
    color: #fff;
    padding:16px 26px;
    font-size: 14px;
    margin: 5px 0;
    position: relative;
    text-decoration: none;
}

.sub-menu a::before{
    content: '';
    position: absolute;
    background: #bdc3c7;
    height: 100%;
    width: 6px;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
}

.sub-menu a:hover:before{
    opacity: 1;
}

.item:target .sub-menu{
    max-height: 111em;
}
/* Eq atlasu*/
#Zeszyt2_27297{
    margin-top: 150px;
}

/* Eq pvp*/
#Zeszyt2_4592{
    margin-left: 170px;
    margin-top: 50px;
}
